# MTK project .rc configure

import /vendor/etc/init/init.batterysecret.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    write /sys/module/musb_hdrc/parameters/mu3d_force_on 1

on post-fs-data

#L19 code for HQ-161493 by ChangXuchun at 2021/11/16 start
#MiBokeh
    mkdir /vendor/etc/camera 0777 system camera
    mkdir /data/vendor/camera/ 0777 system camera
    mkdir /data/vendor/camera/mibokeh 0776 system camera
#L19 code for HQ-161493 by ChangXuchun at 2021/11/16 end

# L19 code for HQ-169457 by zhangpeng at 2021/12/17 start
    chmod 0666 /dev/sia81xx_tuning_if
    chown system audio /dev/sia81xx_tuning_if
# L19 code for HQ-169457 by zhangpeng at 2021/12/17 end

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    mkdir /mnt/vendor/persist/camera 0644 system system

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

#dual calib
    mkdir /mnt/vendor/persist 0777 system camera
    mkdir /mnt/vendor/persist/camera 0777 system camera
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0777 /data/vendor/camera/rear_dc_cal_wd.bin
#L19 code for HQ-158610 by guquanding at 2022/01/18 start
#L19 code for 161489 by p-liukai14 at 11.26 start
    chown system system /data/vendor/camera/golden_rear_dc_cal_wd.bin
    chmod 0777 /data/vendor/camera/golden_rear_dc_cal_wd.bin
#L19 code for 161489 by p-liukai14 at 11.26 end
    chmod 0777 /vendor/etc/camera/golden_hi1337_i_ov02b1b_i.bin
    chmod 0777 /vendor/etc/camera/golden_ov50c40_ii_sc201cs_ii.bin
    chmod 0777 /vendor/etc/camera/golden_ov50c40_i_ov02b1b_i.bin
    chmod 0777 /vendor/etc/camera/golden_hi1337_ii_sc201cs_ii.bin
#L19 code for HQ-158610 by guquanding at 2022/01/18 end
#L19 code for HQ-190848 by guquanding at 2022/03/07 start
    chmod 0777 /vendor/etc/camera/golden_s5kjn1_iii_ov02b1b_i.bin
#L19 code for HQ-190848 by guquanding at 2022/03/07 END

#finggerprint
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp
    chown system system /sys/bus/platform/devices/fingerprint/clk_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/clk_enable
    chown system /sys/bus/platform/devices/fingerprint/irq
    chmod 0660 /sys/bus/platform/devices/fingerprint/irq
    chown system system /sys/bus/platform/devices/fingerprint/hw_reset
    chmod 0660 /sys/bus/platform/devices/fingerprint/hw_reset
    chown system system /sys/bus/platform/devices/fingerprint/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/wakeup_enable
    chown system system /sys/bus/platform/devices/fingerprint/fingerdown_wait
    chmod 0660 /sys/bus/platform/devices/fingerprint/fingerdown_wait

#TP
#L19 code for L19-72 by gaoxue at 2021/12/24 start
    mkdir /data/vendor/focaltech
    copy /vendor/firmware/focaltech_mp_fw_tianma.ini /data/vendor/focaltech/focaltech_mp_fw_tianma.ini
    chown system system /data/vendor/focaltech/focaltech_mp_fw_tianma.ini
    chmod 0660 /data/vendor/focaltech/focaltech_mp_fw_tianma.ini
#L19 code for L19-72 by gaoxue at 2021/12/24 end

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

#L19 code for HQ-158816 by qianxiaoming at 20211025
service sensorscal /system/vendor/bin/setsarcal.sh
    class main
    user root
    oneshot
    group root system
    seclabel u:r:meta_tst:s0

#L19 code for HQ-158004 by lizheng at 2021/12/27 start
service service_nv_protect /vendor/bin/misc_writer --nv_protect
    disabled
    oneshot

on property:vendor.service_nv_protect=start
    start service_nv_protect
#L19 code for HQ-158004 by lizheng at 2021/12/27 end
